@charset "utf-8";



.karta{
	margin-left: 600px;
	transform-style: preserve-3d; 
	transform: perspective(900px);
	-webkit-transform-style: preserve-3d; 
}

.back, .front{
	position: absolute;
	width: 272px;
	height: 380px;
	transition: all 2s;
}

.back{
       background-image: url(back.jpg);
}

.front{
      background-image: url(front.jpg);
      transform: rotateX(180deg);
}

.karta:hover .back{
	transform: rotateX(-180deg);
}

.karta:hover .front{
	transform: rotateX(0);
}













